@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

html {
  --red: #e74c3c;
  --sand: #fff0a4;
  --text: #2c3e50;
  --green: #2ecc71;
  --bg: var(--red);
}

html, body, a {
  margin: 0;
  padding: 0;
}

h1, p, a {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  padding-left: 5rem;
}

.num {
  font-family: 'Overpass Mono', monospace;
}

#clickArea {
  display: flex;
  flex-direction: column;
}

#app {
  text-align: center;
  color: var(--text);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vh;
  max-width: 40rem;
  min-height: 100vh;
  justify-content: space-around;
}

button {
  font-size: 4em;
  outline: none;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #ffffff;
  transition: 0.1s transform ease-out, 0.5s width ease-out;
  margin: 0.5em;
}

button:hover {
  transform: scale(1.1);
}

.timerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 8em;
  padding: 0;
  margin: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon * {

  fill: var(--text);
}

.icon {
  height: 3em;
  width: 3em;
  margin: 1em;
  transition: 0.1s transform ease-out;
}

.icon:hover {
  transform: scale(1.1);
}

body {
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  transition: 0.1s all ease-out;
  font-size: 1.5em;
}

a:visited {
  color: black;
}

a:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.links .icon {
  width: 2rem;
  height: 2rem;
}